#
# Copyright (c) 2010 by Naohide Sano, All rights reserved.
#
# Written by Naohide Sano
#
# ant properties for 
#
# @author	Naohide Sano
# @version	0.00	100119	nsano	initial version
#

encoding=utf-8
